body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-19px;
  width:1134px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:890px;
}
#u4780 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-12px;
  width:1134px;
  height:890px;
  display:flex;
}
#u4780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:298px;
  width:281px;
  height:32px;
  display:flex;
}
#u4781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:298px;
  width:161px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
