body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2400px;
  height:1760px;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2400px;
  height:1760px;
  display:flex;
}
#u5065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:126px;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:238px;
  width:126px;
  height:126px;
  display:flex;
}
#u5066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:301px;
  width:40px;
  height:40px;
  display:flex;
}
#u5067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:364px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:126px;
}
#u5069 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:801px;
  width:126px;
  height:126px;
  display:flex;
  color:#FFFFFF;
}
#u5069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5070 {
  position:absolute;
  left:0px;
  top:937px;
}
#u5070_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:202px;
  height:150px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5070_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u5074 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:859px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
